div.pageWrapper{
	height: 100vh;
}

div.header{
	display:block;
	width:100%;
	height:100px;
	border-bottom: 2px solid #000;
	background-color:#00aced;
	padding:10px;
}

div.header h1{
	margin:0;
	color:#FFF;
}

div.main{
	display:block;
	width:100%;
	height:70%;
}

div.bottomBar{
	border-top: 2px solid #000;
	height:20%;
	display:block;
}

div.leftBar{
	display: inline-block;
	height: 80%;
	width: 20%;
	border-right: 2px solid #000;
}

div.content{
	height: 80%;
	display: inline-block;
}

div.image_list img{
	max-width:140px;
	max-height:140px;
}
